<%= notice %><br>
<strong>Title:</strong>
<span><%= @book.title%></span><br>
<strong>Body:</strong>
<span><%= @book.body%></span><br>
<%= link_to "Edit", edit_book_path(@book.id) %>
|
<%= link_to "Back", "/books" %>